


/* Small screens and laptops */
@media (min-width: 769px) and (max-width: 1024px) {
    /* CSS styles for small screens and laptops */
  }
  
  /* iPads, Tablets */
  @media (min-width: 481px) and (max-width: 768px) {
    /* CSS styles for iPads and tablets */
   
  }
  
  /* Mobile devices */
  @media (min-width: 320px) and (max-width: 480px) {
    /* CSS styles for mobile devices */
    
  
  /* Smaller mobile devices */
  @media (max-width: 320px) {
    /* CSS styles for smaller mobile devices */
    body{
        font-size: 15px;
          line-height: 0.5;
          letter-spacing:1px;
          font-weight: 1px;
      }
      
      .navbar{
          padding-top: 5px;
          padding-left:10px;
          height: 2rem;
      } 
  
      .flex{
          display: flex;
          row-gap: 20px;
      }
      .right-nav{
         
          padding-left: 2.5rem;
          gap: 0.5rem;
      }
  
      .img-p{
      
          background-size: contain;
          background-repeat: no-repeat;
          margin-left:10px;
          margin-right:10px;
          height: 40px;
          width: 40px;
          border: 2px solid red;
      }
         
      }
       #logo{
          padding-top: 7rem;
          font-size: 16px;
      }
      .project-heading{
          padding-top:10px;
          height: 2.5rem;
          margin-left: 10px;
          font-size: 1.3rem;
          margin-right: 10px;
      }
      
      hr{
          margin-top: 1rem;
      }
      
      .projects{
          margin-left:10px;
          margin-right: 10px;
          grid-template-columns:1fr 1fr;
          row-gap: 3px;
      }
  
      .projects p{
      font-size: 12px;
      width:5rem;
      height:1rem;
      
  }
  
  .box{
      height:130px;
      width: 160px;
  }
  
      .hpic{
          margin-top:15rem;
          display: grid;
          grid-template-columns: 1fr 1fr  ;
          margin-right:10px;
          margin-left: 10px;
  
      }
      
      .hpic p1{
          margin-top: 2rem; 
          height: 10rem;
          font-size: 1.5rem;
           padding-left: 10px;
      }
      .hpic p2{
          margin-top: 2rem;
          padding-left: 12px;
          font-size: 15px;
          color: gray;
          letter-spacing: 2px;
      }
      .hpic p3{
          margin-left: 12px;
          margin-top: 10px;
          font-size: 15px;
          line-height: 22.5px;
          letter-spacing: 0px;
          line-height: auto;
          }
      .hpic button{
          margin-top: 2rem;
          height: 2rem;
          width: 22.5rem;
          border: none;
      
      }
      .hpic button:hover{
          background-color:gray;
      }
  }